{% extends 'base.html' %} {% block main %}
<div class="car-container">
  <div class="car-photo">
    <img src="https://cdn3.riastatic.com/photosnew/auto/photo/kia_rio__590577158f.webp" />
  </div>

  <div class="car">
    <h1>Kia Rio 2012</h1>

    <p>01 червня 2025</p>

    <h4>500 000 грн</h4>

    <ul class="cart-details">
      <li>
        <img src="../static/img/mileage.svg" />
        <p>222 тис.км.</p>
      </li>
      <li>
        <img src="../static/img/engine.svg" />
        <p>2</p>
      </li>
      <li>
        <img src="../static/img/transmission.svg" />
        <p>22</p>
      </li>
      <li>
        <img src="../static/img/fuel.svg" />
        <p>222</p>
      </li>
    </ul>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsum assumenda eligendi, distinctio veritatis, animi
      eaque modi veniam, molestiae similique excepturi. Quia aliquid iste unde quo harum, labore voluptate quidem.
    </p>
  </div>
</div>
{% endblock %}
