{% extends "base.html" %} 

{% block main %}
<h1 class="catalog-title container">Каталог товарів</h1>

<div class="catalog-container container">
  <div class="catalog-filters">
    <h2>Фільтри</h2>
  </div>

  <div class="catalog-items">
    {% for car in cars %}
    <div class="catalog-item">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/0/04/VW_CC_%28Facelift%29_%E2%80%93_Frontansicht%2C_1._April_2012%2C_Essen.jpg"
        alt=""
      />
      <h3>Volkswagen CC passat</h3>
      <p>18 травня 2025</p>
      <ul class="cart-details">
        <li>
          <img src="../static/img/mileage.svg" />
          <p>168 тис.км.</p>
        </li>
        <li>
          <img src="../static/img/engine.svg" />
          <p>2</p>
        </li>
        <li>
          <img src="../static/img/transmission.svg" />
          <p>Автоматична</p>
        </li>
        <li>
          <img src="../static/img/fuel.svg" />
          <p>Бензин</p>
        </li>
      </ul>
      <h5>350 000 грн.</h5>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
