{% extends "base.html" %}

{% block main %}
<div class="first-screen">
  <div class="container">
    <h1>Продавай та купуй автомобіль вигідно</h1>
    <p>
      Подайте заявку на купівлю автомобіля вперше або оберіть нову модель для заміни. Легко пройдіть весь процес покупки
      автомобіля разом з нашим сервісом
    </p>
    <button>Повний каталог</button>
  </div>
</div>

<div class="about">
  <h2>Про компанію</h2>
  <p>
    Наш сайт пропонує широкий вибір автомобілів різних марок і моделей для покупки. Ми допомагаємо вам легко та зручно
    підібрати автомобіль, виходячи з ваших уподобань та бюджету. Вся інформація про транспортні засоби представлена з
    детальними описами та характеристиками, що дозволить вам зробити обґрунтований вибір. Ми також надаємо підтримку на
    всіх етапах покупки: від вибору автомобіля до його доставки у ваше місто. Наші спеціалісти завжди готові відповісти
    на будь-які питання, пов'язані з експлуатацією та обслуговуванням автомобілів. Доставка автомобілів здійснюється в
    будь-який населений пункт.
  </p>
</div>
{% endblock %}